<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to "会議室一覧", room_index_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "マイカレンダー", users_calender_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "マイページ", users_edit_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>