<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to "会議室一覧", rooms_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "マイカレンダー", users_calendar_path, class: "nav-link", data: {"turbolinks" => false} %>
      </li>
      <li class="nav-item">
        <%= link_to "マイページ", current_user, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>